<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>777300142934-to09k25ib32r0mi7uael1mu3val2btip.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.777300142934-to09k25ib32r0mi7uael1mu3val2btip</string>
	<key>API_KEY</key>
	<string>AIzaSyC-rg00kEyRdgfoepI4wVHfZBJxnxfQEEA</string>
	<key>GCM_SENDER_ID</key>
	<string>777300142934</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.making-test</string>
	<key>PROJECT_ID</key>
	<string>making-tests</string>
	<key>STORAGE_BUCKET</key>
	<string>making-tests.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:777300142934:ios:3b73793f46ec3a5a6f44f7</string>
</dict>
</plist>